@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Oxygen:wght@400;700&display=swap');

* {

    font-family: "kanit", "sans-serif";
    font-style: italic;
}

body {

    height: 100vh;
    background-image: url("../Resources/background-img.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    font-family: 'Rubik Bubbles';
    font-size: 100%;
}

.page-title {

    margin-right: 40px;
    text-align: center;

}

form {
    display: flex;
    align-items: center;

}

.page-title p {
    font-weight: 700;
    font-size: 50px;
    color: #f6c220;
    margin-top: 15px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.34);

}

main {
    /* margin-top: 200px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    margin-left: 215px;

}

/* input[type=search] {
    border: 0px solid black;
    width: 250px;
    background-color: rgba(0, 0, 0, 0);
    outline: none !important;
    margin-left: 100px;
    font-size: large;
    font-family: 'Rubik Bubbles'
} */

input[type=search].destination-field {
    display: block;
    border: none;
    border-radius: 15px;
    width: 250px;
    padding: 0.375rem 0.75rem;
    background-color: white;
    margin-right: 0.75rem;
}

.btn {
    display: block;
    border: none;
    border-radius: 15px;
    width: 115px;
    height: 53.3px;
    background-color: #f6c220;

}

.dropdown-trigger {

    margin-bottom: 5px;
    height: 54.3px;
    border: none;
    border-radius: 15px;
    padding: 0.375rem 0.75rem;
    margin-right: 0.75rem;
}

select[name=num_of_adults]#num_of_adults {
    border: 0px solid black;
    width: 40px;
    height: 25px;
    background-color: rgba(75, 75, 75, 0.3);

    border-radius: 5px;
}

.inputs {
    display: flex;
    align-items: center;

}

input[type=date]#check_in {

    background-color: white;
    padding: 0.375rem 0.75rem;
    border: none;
    border-radius: 15px;
    margin-right: 0.75rem;
}

input[type=date]#check_out {

    background-color: white;
    padding: 0.375rem 0.75rem;
    border: none;
    border-radius: 15px;
    margin-right: 0.75rem;

}

.input_date {
    border: 1px solid #f6c220;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

.input_date:focus {
    border: 0px solid black;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    outline: none !important;
}

.destination {
    width: 250px;
    text-decoration: none;

}

.logo {

    width: 400px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}



.results {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.card {
    width: 1500px;
    height: 550px;
    background-color: rgba(75, 75, 75, 0.8);
    border-radius: 5px;
    margin: 10px;
}

/* .airbnb {
    width: 50%;
}

.hotel {
    width: 50%;
} */

h2 {

    display: flex;
    margin-left: 20px;
    font-size: 30px;
    color: #f6c220;

}